.calendario-tabs-content {
	.nav-tabs {
		padding-left: 0;
		padding-right: 0;
	}
}

.race-rank {
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	.fulfilling-bouncing-circle-spinner {
		margin: 100px;
	}

	.race-rank-content {
		border: 1px solid $light-gray;
		padding: 50px;
		border-radius: 2px;
		@media screen and (max-width: 768px){
			padding: 0;
		}
	}


	.race-rank-title {
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 10px;
	}

	.nav-tabs {
		padding-left: 0;
		padding-right: 0;
	}
}
