.statistics-content {
	h2 {
		padding-top: 50px;
		text-align: center;
	}
}

.statistics-table {
	max-width: 700px;
	margin: 50px auto 0;
	border-radius: 5px;

	.podium {
		display: flex;
		background: $primary-color;
		background: linear-gradient(90deg, $primary-color 30%, rgba(0,212,255,0) 100%);
		height: 160px;
		position: relative;
		border-radius: 5px;

		.data-content {
			display: flex;
			justify-content: center;
			flex-direction: column;
			color: $primary-color;
			height: 100%;
			padding-left: 15px;

			.suffix {
				font-size: 13px;
			}
		}

		h2 {
			-webkit-text-stroke: 2px $white-color;
			color: transparent;
			font-weight: 900;
		}

		h3 {
			margin: 0;
			text-transform: uppercase;

			.last-name-bold {
				font-weight: 600;
			}
		}
	}
	.first-place {
		align-items: flex-end;

		h2 {
			font-size: 120px;
			padding: 10px 30px;
			margin: 0;
		}

		img {
			height: 180px;
		}

	}

	.podium-content {
		display: flex;
		flex-wrap: wrap;
		margin: 20px 0;

		div {
			position: relative;
			width: 50%;
			justify-content: space-between;

			img {
				height: 150px;
				position: absolute;
				bottom: 0;
				left: 40px;
			}

			.driver-second, .driver-third {
				font-size: 16px;
			}
		}


		h2 {
			font-size: 40px;
			padding: 10px 0 0 20px;
		}

	}

	.statistic-table{
		border-collapse: collapse;
		width: 100%;
		td, th {
			border-bottom: 1px solid $primary-color;
			text-align: left;
			padding: 8px;
			text-align: center;
		}
		th {
			font-weight: 400;
			color: $dark-gray;
			text-transform: uppercase;
		}
		td {
			color: $light-black;
		}

		tr:nth-child(even) {
			background-color: $light-blue;
		}
	}

}

.yellow {
	.podium {
		background: $warning-color;
		background: linear-gradient(90deg, $warning-color 30%, rgba(0,0,0,0) 100%);

		.data-content {
			color: #dd9521;
		}
	}

	.statistic-table {
		td, th {
			border-bottom: 1px solid $warning-color;
		}

		tr:nth-child(even) {
			background-color: $light-orange;
		}
	}
}

.green {
	.podium {
		background: $success-color;
		background: linear-gradient(90deg, $success-color 30%, rgba(0,0,0,0) 100%);

		.data-content {
			color: #15af0d;
		}
	}

	.statistic-table {
		td, th {
			border-bottom: 1px solid $success-color;
		}

		tr:nth-child(even) {
			background-color: $light-green;
		}
	}
}

.red {
	.podium {
		background: $danger-color;
		background: linear-gradient(90deg, $danger-color 30%, rgba(0,0,0,0) 100%);

		.data-content {
			color: #e02727;
		}
	}

	.statistic-table {
		td, th {
			border-bottom: 1px solid $danger-color;
		}

		tr:nth-child(even) {
			background-color: $light-red;
		}
	}
}
